.exp-pod{
   padding-left: 2rem;
   padding-right: 2rem;
   h2{
    color: white;
   }
   ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr ;
    li{
        list-style-type: none;
        background: white;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        border-radius: 20px;
        font-size: .8rem;
        text-transform: uppercase;
    }
    
    .btn-icon2{
                
        border:2px solid rgb(7, 105, 127);            
        background:white;        
        border-radius: 20px;
        
       
       
        
    }
    
   }
}

