.hero{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    .blue-tri{
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid #00c6fe;
        right: 40px;
        top: 10px;
      
        
    }
    .hero-imgs5{
            background: url("/img/gg.PNG");
            width: 100%;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: 10px;
    }
    &-imgs{
        float: right;
        width: 40%;
        position: relative;
        right: 30px;
        .hero-imgs1{
            margin-bottom: 20px;
            width: 100%;
           display: grid;
           column-gap: 30px;
           
           grid-template-columns: 150px 1fr;
            .hero-imgs1-one{
                background: linear-gradient(#ff4738,#ff7369);
                height: 150px;
                border-radius: 15px;
                position: relative;
                .mini{
                    background: url("/img/four.png");
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 15px;
                }
            }
            .hero-imgs1-two{
                background: linear-gradient(#36d7ff,#6ae4ff);
                height: 180px;
                border-radius: 15px;
                position: relative;
                display: flex;
                justify-content: center;
                &-text{
                    position: absolute;
                    background: white;
                    width: 100%;
                    padding: 10px;
                    bottom: -10px;
                    left: 20px;
                    border-radius: 10px;
                    display: flex;
                    color: $textColor;
                    align-items: center;
                    
                    font-size: 1rem;
                    p{
                        font-weight: bold;
                        margin-left: 5px;
                        font-size: 1rem;
                    }
                }
                .mini2{
                    background: url("/img/two.png");
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 15px;
                    
                }
            }
        }
        .hero-imgs2{
            width: 100%;
            right: 50px;
            position: absolute;
           display: grid;
           grid-template-columns:  1fr 150px;
            column-gap: 20px;
            .hero-imgs2-one{
                background: linear-gradient(#ff9d81,#ffa386);
                height: 200px;
                border-radius: 15px;
                position: relative;
                .hero-imgs2-one-img{
                    position: absolute;
                    bottom: -20px;
                    width: 80%;
                    margin: 0 auto;
                    padding: 10px 30px;
                    background: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 20px;
                    border-radius: 10px;
                    img{
                        width: 100px;
                        opacity: .7;
                        height: 30px;
                       margin-bottom: 5px;
                    }
                    i{
                        font-size: 1.5rem;
                        margin-left: 130px;
                    }
                }
                .mini3{
                    background: url("/img/three.png");
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 15px;
                    
                }
                
            }
            .hero-imgs2-two{
                background: linear-gradient(#ffca81,#ffdcaa);
                height: 150px;
                border-radius: 15px;
                position: relative;
                &-yellow{
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    left: 100px;
                    background: yellow;
                    border-radius: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    bottom: -60px;
                    color: $textColor;
                    h3{
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 2px;
                    }
                    p{
                        font-size: .8rem;
                        opacity: .7;
                        font-weight: bold;
                    }
                }
                .mini4{
                    background: url("/img/one.png");
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 15px;
                    
                }
                
            }
        }
    }

    &-text{
        margin-right: 250px;
        width: 50%;
        h2{
            font-size: 3.2rem;
            color: white;
            line-height: 4rem;
            span{
                color: #ff733a;
            }
        }
        p{
            
            margin: 30px 0;
            color: white;
            width: 374px;
            font-size: 1.3rem;
        }
        .btn{
            
            width: 50%;
            display: flex;
            align-items: center;
            &-text{
                p{
                    color: $textColor;
                    width: 100%;
                    background: white;
                    font-size: 1rem;
                    padding: 15px 30px;
                    font-weight: bold;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                
                
            }
            .btn-icon{
                
                    
                background: linear-gradient(#62aad5, #223385, #5632a3, #9e48a4, #9d1d3b);
                color: white ;
                padding: 2px 2px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 44px;
                    background: $textColor;
                    width: 50px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                
                i{
                    
                   transform: rotate(150deg);
                   
                }
               
                
            }
        }
    }
    .hero-text2{
        margin-right: 20px;
        width: 50%;
        h2{
            font-size: 3.2rem;
            color: white;
            line-height: 4rem;
            span{
                color: #ff733a;
            }
        }
        p{
            
            margin: 30px 0;
            color: white;
            width: 374px;
            font-size: 1.3rem;
        }
        .btn{
            
            width: 50%;
            display: flex;
            align-items: center;
            &-text{
                p{
                    color: $textColor;
                    width: 100%;
                    background: white;
                    font-size: 1rem;
                    padding: 15px 30px;
                    font-weight: bold;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                
                
            }
            .btn-icon{
                
                    
                background: linear-gradient(#62aad5, #223385, #5632a3, #9e48a4, #9d1d3b);
                color: white ;
                padding: 2px 2px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 44px;
                    background: $textColor;
                    width: 50px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                
                i{
                    
                   transform: rotate(150deg);
                   
                }
               
                
            }
        }
    }
}
.hero-line{
    width: 90%;
    height: 1px;
    background: $grey;
}